@charset 'utf-8';
footer .footer-link {
  padding: 48px 0 20px;
  border-top: 1px solid #f1f1f1;
}
footer .footer-link .footer-service {
  width: 1000px;
  float: left;
}
footer .footer-link .footer-service li {
  float: left;
  text-align: center;
  width: 15%;
}
footer .footer-link .footer-service li a {
  display: block;
  line-height: 27px;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
footer .footer-link .footer-service li img {
  width: 50px;
  display: block;
  margin: 0 auto;
}
footer .footer-link .footer-service li span {
  line-height: 30px;
  color: #999;
}
footer .footer-link .onlive-service {
  float: right;
  text-align: right;
  margin-top: -18px;
}
footer .footer-link .onlive-service span {
  color: #999;
  font-size: 12px;
  line-height: 30px;
}
footer .footer-link .onlive-service .tel {
  color: #008cff;
  font-size: 25px;
  font-weight: 400;
  margin-top: -6px;
  line-height: 40px;
  margin-bottom: 0;
}
footer .footer-link .onlive-service .onlive-btn {
  height: 30px;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 20px;
  margin-top: 3px;
  display: inline-block;
  font-size: 14px;
  background: #008cff;
  text-decoration: none;
}
footer .footer-hr {
  margin: 10px auto 28px;
  display: block;
  height: 1px;
  padding: 0;
}
footer .footer-info {
  color: #999;
  text-align: left;
  font-size: 12px;
  width: 100%;
}
footer .footer-info .footer-info-left {
  float: left;
}
footer .footer-info li {
  padding-right: 15px;
  border-right: 1px solid #d6d6d6;
  float: left;
  height: 18px;
  margin-right: 15px;
}
footer .footer-info li a {
  display: block;
  line-height: 18px;
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
footer .footer-info li a:hover {
  color: #008cff;
}
footer .footer-info .no-border {
  border: 0;
  position: relative;
}
footer .footer-info .no-border:hover .hidden-box {
  padding-bottom: 12px;
  position: absolute;
  bottom: 18px;
  right: 0;
}
footer .footer-info .no-border:hover .lang-list {
  display: block;
}
footer .footer-info .no-border .button-language {
  position: relative;
  display: block;
  padding-left: 24px;
}
footer .footer-info .no-border .button-language:hover {
  color: #515151;
}
footer .footer-info .no-border .button-language i {
  background: url(../img/下载\ \(1\).png) no-repeat;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-size: cover;
}
footer .footer-info .no-border .lang-list {
  display: none;
  overflow: hidden;
  width: 115px;
  background: #fff;
  border: 1px solid #f1f1f1;
  z-index: 999;
}
footer .footer-info .no-border .lang-list li {
  padding: 0;
  margin: 0;
  height: 37px;
  width: 83%;
  padding-left: 10px;
  padding-top: 2px;
  background: #fff;
  margin-right: 0;
  border: none;
  padding-right: 4px;
}
footer .footer-info .no-border .lang-list li i {
  position: relative;
  background: url(../img/35.png) no-repeat;
  display: inline-block;
  top: 5px;
  margin-right: -3px;
  padding-top: 5px;
  width: 30px;
  height: 18px;
  padding-left: 3px;
  background-size: contain;
  background-position: 50%;
}
footer .footer-info .no-border .lang-list li span {
  height: 28px;
  color: #333;
}
footer .footer-info .no-border .lang-list li span:hover {
  color: #999;
}
footer .footer-info .footer-certificate a {
  color: #999;
  line-height: 27px;
  font-size: 12px;
  margin: 0 3px;
}
footer .footer-info .footer-certificate a:hover {
  color: #008cff;
}
footer .footer-info .footer-certificate a:hover i {
  background: url(../img/下载\ \(3\).png);
}
footer .footer-info .footer-certificate a span {
  margin: 0 6px;
}
footer .footer-info .footer-certificate a i {
  position: relative;
  background: url(../img/下载\ \(2\).png) no-repeat;
  width: 14px;
  height: 18px;
  display: inline-block;
  background-position: 50%;
  top: 4px;
}
footer .li-subscribe {
  float: right;
  margin-top: 25px;
  position: relative;
}
footer .li-subscribe a {
  line-height: 27px;
}
footer .li-subscribe a:hover img {
  display: block;
}
footer .li-subscribe a:hover em {
  display: block;
}
footer .li-subscribe a img {
  position: absolute;
  bottom: 40px;
  left: -9px;
  width: 180px;
  display: none;
}
footer .li-subscribe a i {
  background: url(../img/41.png) no-repeat;
  background-position: 50%;
  background-size: 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 20px;
}
footer .li-subscribe a i::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background: #eee;
  right: -10px;
  bottom: 0;
}
footer .li-subscribe a i em {
  background: url(../img/42.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: 100%;
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
em {
  font-style: normal;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none!important;
}
.clear::after {
  content: "";
  clear: both;
  display: block;
}
.wrapper {
  width: 1240px;
  margin: 0 auto;
}
.layout-header {
  position: relative;
  width: 100%;
  z-index: 998;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}
.layout-header .layout-header-logo {
  float: left;
  height: 80px;
  overflow: hidden;
}
.layout-header .layout-header-logo .logo-link {
  position: relative;
  display: block;
  height: 80px;
  width: 150px;
}
.layout-header .layout-header-logo .logo-link img {
  max-width: 125px;
  margin-top: 28px;
}
.layout-header .layout-header-bread {
  float: left;
  margin-left: 30px;
  line-height: 80px;
}
.layout-header .layout-header-bread li {
  float: left;
  font-size: 14px;
  color: #999;
}
.layout-header .layout-header-bread li:after {
  content: '>';
  margin: 0 10px;
  color: #999;
}
.layout-header .layout-header-right {
  float: right;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-top: 20px;
}
.layout-header .layout-header-right li {
  float: left;
  padding: 0 20px;
}
.layout-header .layout-header-right li a {
  color: #666;
  transition: all 0.2s linear;
}
.layout-header .layout-header-right li a:hover {
  color: #3058df;
}
.cart {
  padding-bottom: 40px;
  overflow: hidden;
  background-color: #F4F6FA;
}
.cart .cart-header {
  height: 50px;
  margin-top: 10px;
  font-size: 12px;
  background-color: #fff;
  color: rgba(51, 51, 51, 0.4);
  border-bottom: 1px solid #EFEFEF;
}
.cart .cart-col-select {
  width: 550px;
  text-align: left;
  padding-left: 24px;
}
.cart .cart-select-all {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  line-height: 0;
}
.cart .cart-col-price {
  width: 220px;
  text-align: center;
}
.cart .cart-col-number {
  width: 200px;
  text-align: center;
}
.cart .cart-col-total {
  width: 160px;
  text-align: center;
}
.cart .nice {
  width: 110px;
  text-align: right;
  padding-right: 48px;
}
.cart-merchant-header {
  height: 50px;
  line-height: 49px;
  padding-left: 24px;
  background-color: #FAFAFC;
}
.cart-merchant-list {
  margin-bottom: 10px;
}
.cart-merchant-list .cart-merchant {
  background: #fff;
}
.cart-merchant-list .cart-merchant .cart-merchant-body {
  border-bottom: 1px solid #EFEFEF;
}
.cart-merchant-list .cart-merchant .cart-merchant-body .cart-product {
  height: 150px;
  border-top: 1px solid #EFEFEF;
}
.cart-col-select {
  width: 550px;
  text-align: left;
  padding-left: 24px;
}
.cart-col-select .cart-product-link {
  margin-left: 19px;
  display: inline-block;
  vertical-align: middle;
  color: #262626;
}
.cart-col-select .cart-product-info {
  display: inline-block;
  color: #262626;
  margin-left: 19px;
  vertical-align: middle;
}
.cart-col-select .cart-product-info p:nth-child(2) {
  color: #8C8C8C;
  margin-top: 4px;
}
.cart-col-price span {
  font-size: 16px;
  color: #666;
}
.cart-col-number input {
  display: inline-block;
  width: 40px;
}
.cart-col-total span {
  color: #E02B41;
  font-size: 16px;
}
.cart-col-ctrl {
  width: 110px;
  text-align: right;
  padding-right: 48px;
  cursor: pointer;
}
.cart-col-ctrl a {
  color: #00c3f5;
}
.cart-footer {
  position: relative;
  width: 100%;
  height: 70px;
  font-size: 14px;
  color: #666;
  line-height: 67px;
  transition: background-color 1s;
}
.cart-footer .wrapper {
  background-color: #fff;
  height: 100%;
}
.cart-footer .cart-footer-left {
  float: left;
  margin-left: 24px;
  height: 100%;
}
.cart-footer .cart-footer-left .cart-remove-selected {
  margin: 0 24px 0 12px;
  cursor: pointer;
  color: #8C8C8C;
}
.cart-footer .cart-footer-left .cart-footer-count {
  color: #8C8C8C;
}
.cart-footer .cart-footer-right {
  float: right;
  height: 100%;
  margin-right: 30px;
}
.cart-footer .cart-footer-right .cart-footer-total {
  font-size: 20px;
  font-weight: bolder;
  color: #E02B41;
  margin-right: 24px;
}
.cart-footer .cart-footer-right .mz-btn {
  cursor: pointer;
  font-size: 14px;
  min-width: 58px;
  min-height: 34px;
  line-height: 34px;
  transition: 0.5s all;
  padding: 0 20px;
  background-color: #F66567 !important;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.cart-footer .cart-footer-right .mz-btn[disabled] {
  background: #DBDBDB;
}
