@charset 'utf-8';
main {
  background: #f4f4f4;
}
main .main-phone-title {
  text-align: center;
}
main .main-phone-title h3 {
  font-size: 30px;
  margin-top: 0;
}
main .main-phone-adv {
  height: 450px;
}
main .main-phone-adv a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s linear;
  overflow: hidden;
}
main .main-phone-adv a:hover {
  opacity: 0.8;
}
main .main-phone-adv a img {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .phone-list {
  overflow: hidden;
}
main .phone-list .big {
  width: 615px;
  height: 610px;
}
main .phone-list li {
  width: 303px;
  height: 375px;
  float: left;
  margin-top: 10px;
  margin-right: 9px;
  background: #fff;
  transition: all 0.3s ease;
}
main .phone-list li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
main .phone-list li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
main .phone-list li a img {
  height: 460px;
  position: absolute;
  bottom: 0;
  left: 55px;
}
main .phone-list li a span {
  display: block;
}
main .phone-list li a .phone-info {
  position: absolute;
  left: 0;
  top: 58px;
  text-align: center;
  width: 100%;
}
main .phone-list li a .phone-info span:nth-child(1) {
  font-size: 28px;
  color: #333333;
}
main .phone-list li a .phone-info span:nth-child(2) {
  font-size: 18px;
  color: #333333;
  margin-bottom: 3px;
}
main .phone-list li a .phone-info span:nth-child(3) {
  display: inline-block;
  color: #c00;
  font-size: 22px;
}
main .phone-list li a .phone-info span:nth-child(3) i {
  font-size: 14px;
  font-style: normal;
}
main .phone-list li a .phone-red {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  color: #fff;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  background-image: linear-gradient(120deg, #ff3149, #ff64a6);
}
main .phone-list .big2 {
  margin-right: 0;
}
